<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ma_Di_Tuan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ma_Di_Tuan.Properties.Settings>
            <setting name="strTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BoolSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitOntop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtKT" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="txtX" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="txtY" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="boolRemember" serializeAs="String">
                <value>False</value>
            </setting>
        </Ma_Di_Tuan.Properties.Settings>
    </userSettings>
</configuration>